@import "../body.scss";

#trafficLight {
   width: 100px;
   height: 300px;
}

#trafficLight1,
#trafficLight2,
#trafficLight3 {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background: black;
}
